body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  padding: 0.5rem;
  background-color: black;
}

/* Header */
header {
  width: 100%;
  height: auto;
  background: linear-gradient(90deg, #504AFF 0%, #FFFFFF 100%);
}

nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

label, #toggle {
  display: none ;
}

.nav_bar {
    margin-top: 1.6rem;
}
.nav_link {
  background: #1D56E8A6;
  box-shadow: 5px 4px 4px 0px #1D56E89C;
  font-family: Jim Nightshade;
  font-size: 22px;
  font-weight: 400;
  padding: 1rem 2rem 1rem 2rem;
  color: #F7ECEC;
  border-radius: 1rem;
  text-transform: uppercase;
  margin: 0rem 2rem 0rem 0rem;
}

header img {
  border-radius: 2rem 2rem 2rem 2rem;
  width: 15%;
  height: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto; /*Image centrée*/
  margin-top: 3rem;
}
header h1 {
  font-family: Jim Nightshade;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
}


/* MAIN */
main {
  width: auto;
  height: auto;
  margin: 2.5rem;
}

.slider {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.slider img {
  width: 20%;
  height: 40vh;
}

.t_main {
  font-family: Jim Nightshade;
  font-size: 3vw;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}

#activities {
  width: 100%;
  height: auto;
  background: #D9D9D9;
}

.camel {
  width: 100%;
  height: auto;
  display: flex;
}
.camel_1 {
  width: 50%;
  height: auto;
}
.camel_1 img {
  width: 100%;
  height: 80vh;
}
.camel_2 {
  width: 50%;
  height: auto;
}
.camel_2 h1 {
  margin-left: 14vh;
  font-size: 6.4vh;
  margin-top: 10vh;
}
.camel_2 p {
  margin: 5vh 30vh 0 14vh;
  font-size: 5vh;
}


.quad {
  width: 100%;
  height: auto;
  display: flex;
}
.quad_1 {
  width: 50%;
  height: auto;
}
.quad_1 h1 {
  margin-left: 14vh;
  font-size: 6.4vh;
  margin-top: 10vh;
}
.quad_1 p {
  margin: 5vh 30vh 0 14vh;
  font-size: 5vh;
}
.quad_2 {
  width: 50%;
  height: auto;
}
.quad_2 img {
  width: 100%;
  height: 80vh;
}

.spa {
  width: 100%;
  height: auto;
  display: flex;
}
.spa_1 {
  width: 50%;
  height: auto;
}
.spa_1 img {
  width: 100%;
  height: 80vh;
}
.spa_2 {
  width: 50%;
  height: auto;
}
.spa_2 h1 {
  margin-left: 14vh;
  font-size: 6.4vh;
  margin-top: 10vh;
}
.spa_2 p {
  margin: 5vh 30vh 0 14vh;
  font-size: 5vh;
}

/*FOOTER*/
footer {
  width: 100%;
  height: auto;
  margin-top: 4rem;
}

#h_footer {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  margin: 2.5rem;
}

.paie {
  background: #D9D9D9;
  width: 56%;
  height: auto;
  margin-bottom: auto;
  margin-right: 3rem;
  padding-bottom: 1.5rem;
}
.paie h1 {
  font-family: Just Me Again Down Here;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline;
  padding-top: 1.5rem;
}

.i_paie {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.i_paie img {
  height: 6rem;
  width: 8rem;
  padding: 1.5rem;
  border-radius: 3rem;
}

.reseaux {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: -12rem;
}
.reseaux li {
  list-style: none;
  font-family: Just Me Again Down Here;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: left;
  margin-left: 4rem;
}

.reseaux img {
  width: 4rem;
  height: auto;
}

.mentions {
  margin: 2rem;
  width: 56%;
  display: flex;
  justify-content: center;
  height: auto;
  margin-top: -6.3rem;
}
.mentions p {
  font-family: Just Me Again Down Here;
  font-size: 1.9rem;
  font-weight: 400;
  padding-left: 3rem;
}
aside {
  width: 35%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
aside img {
  width: 10%;
  height: 6rem;
}
aside h1 {
  font-family: Jim Nightshade;
  font-size: 2rem;
  font-weight: 400;
  margin-left: 0.3rem;
  position: relative;
  top: 2rem;
}
aside iframe {

}
