@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  padding: 0.5rem;
  background-color: black;
}
.ha {
  padding: 0.2vw;
  width: 84%;
  margin: 3.3vw 0vw 3.3vw 7.1vw;
}

/* Header */
header {
  width: 100%;
  height: auto;
  background: linear-gradient(90deg, #504AFF 0%, #FFFFFF 100%);
}

nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

label, #toggle {
  display: none ;
}

.nav_bar {
  margin-top: 3.5vw;
}
.nav_link {
  background: #1D56E8A6;
  box-shadow: 5px 4px 4px 0px #1D56E89C;
  font-family: Jim Nightshade;
  font-size: 2vw;
  font-weight: 400;
  padding: 1vw 2vw 1vw 2vw;
  color: #F7ECEC;
  border-radius: 1vw;
  text-transform: uppercase;
  margin: 0vw 2VW 0 2vw;
}

/* Partie responsive de la navbar */
@media screen and (max-width:768px) {
  nav .nav_bar {
    flex-direction: column;
    background-color: #b1b8e4;
    z-index: 2;
    width: 34%;
    display: none;
}
  nav .nav_bar a {
      width: 80%;
      margin: 7vw 4vw -4vw 0;
      padding: 2vw 0 2vw 0px;
}
  label {
    width: 10vw;
    display: flex;
    margin: 0 auto;
    font-size: 40px;
    color: #001bff;
    cursor: pointer;
    justify-content: center;
    position: absolute;
    right: 8vw;
}

  #toggle:checked+.nav_bar {
    display: flex;
    padding-bottom: 8vw;
    border: 1px solid black;
    margin-right: 17vw;
    margin-top: 3vw;
    position: absolute;
}
  .nav_link {
    background: #1139ffa6;
    box-shadow: 4px 4px 4px 0px #1D56E89C;
    font-family: Jim Nightshade;
    font-size: 3.6vw;
    font-weight: 400;
    color: #a3d7ff;
    border-radius: 1rem;
    text-transform: uppercase;
}
}


header img {
  border-radius: 2rem 2rem 2rem 2rem;
  width: 15%;
  height: 13vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vw;
}
header h1 {
  font-family: Jim Nightshade;
  font-size: 4vw;
  font-weight: 400;
  text-align: center;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
}

/* MAIN */
main {
  width: auto;
  height: auto;
  margin: 2.5rem;
}

/* SIDEBAR */
.search {
  display: flex;
  align-items: center;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out .5s;
  margin-right: -2vw;
  background-color: #d9d9d9;
  width: 75%;
  margin-left: 10.5vw;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}
/**/

.slider {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.slider img {
  width: 20%;
  height: 15vw;
}

/* Slide Lightbox */
.wrapper{
  max-width: 100%;
}
.gallery{
  display: flex;
  background: #ffdea1;
}
.gallery .image{
  padding: 7px;
  width: calc(100% / 3);
}
.gallery .image span{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .image img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
  height: 15vw;
}
.gallery .image:hover img{
  transform: scale(1.1);
  filter: grayscale(100%);
  cursor: pointer;
}
.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  background: #ffbb48;
}
.preview-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details{
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 10px;
  justify-content: space-between;
}
.preview-box .details .title{
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p{
  margin: 0 5px;
}
.details .title p.current-img{
  font-weight: 500;
}
.details .icon {
  color: rgb(0 0 0);
  font-size: 20px;
  cursor: pointer;
  background: #ffcb2d;
  border-radius: 1rem;
  padding: 2vh;
}
.preview-box .image-box{
  display: flex;
  width: 100%;
  position: relative;
}
.image-box .slide{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}
.slide.prev{
  left: 0px;
}
.slide.next{
  right: 0px;
}
.image-box img {
  width: 100%;
  border-radius: 0 0 3px 3px;
  height: 30vw;
}
.shadow{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0,0,0,0.45);
}
@media screen and (max-width: 1000px) {
  .gallery {
  }
}
@media(max-width: 1000px){
  .gallery .image{
    width: calc(100% / 2);
  }
}
@media(max-width: 600px){
  .gallery .image{
    width: 100%;
    padding: 4px;
  }
}
/* Fin */

.t_main {
  font-family: Jim Nightshade;
  font-size: 3vw;
  font-weight: 400;
  text-align: center;
}

#activities {
  width: 95%;
  height: auto;
  background: #D9D9D9;
  padding: 0rem;
  margin: 2.5%;
}

.camel {
  width: 100%;
  height: auto;
  display: flex;
}
.camel_1 {
  width: 50%;
  height: auto;
}
.camel_1 img {
  width: 100%;
  height: 30vw;
}
.camel_2 {
  width: 50%;
  height: auto;
}
.camel_2 h1 {
  margin-left: 4vw;
  font-size: 2.4vw;
  margin-top: 6vw;
}
.camel_2 p {
  margin: 3vw 10vw 0 4vw;
  font-size: 1.7vw;
}


.quad {
  width: 100%;
  height: auto;
  display: flex;
}
.quad_1 {
  width: 50%;
  height: auto;
}
.quad_1 h1 {
  margin-left: 7vw;
  font-size: 2.4vw;
  margin-top: 6vw;
}
.quad_1 p {
  margin: 3vw 10vw 0 7vw;
  font-size: 1.7vw;
}
.quad_2 {
  width: 50%;
  height: auto;
}
.quad_2 img {
  width: 100%;
  height: 30vw;
}

.spa {
  width: 100%;
  height: auto;
  display: flex;
}
.spa_1 {
  width: 50%;
  height: auto;
}
.spa_1 img {
  width: 100%;
  height: 30vw;
}
.spa_2 {
  width: 50%;
  height: auto;
}
.spa_2 h1 {
  margin-left: 4vw;
  font-size: 2.4vw;
  margin-top: 6vw;
}
.spa_2 p {
  margin: 3vw 10vw 0 4vw;
  font-size: 1.7vw;
}

/*FOOTER*/
footer {
  width: 100%;
  height: auto;
  margin: 4vw 0 0 0;
}

#h_footer {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.paie {
  background: #D9D9D9;
  width: 56%;
  height: auto;
  margin-bottom: auto;
  margin-right: 3vw;
  padding-bottom: 1.5vw;
  margin-left: 3vw;
}
.paie h1 {
  font-family: Just Me Again Down Here;
  font-size: 2.5vw;
  text-align: center;
  text-decoration: underline;
  padding-top: 1.5vw;
}

.i_paie {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.i_paie img {
  height: 6vw;
  width: 8vw;
  padding: 1.5vw;
  border-radius: 3vw;
}

.reseaux {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: -12vw;
}
.reseaux li {
  list-style: none;
  font-family: Just Me Again Down Here;
  font-size: 1.6vw;
  font-weight: 400;
  text-align: left;
  margin-left: 4vw;
}

.reseaux img {
  width: 4vw;
  height: auto;
}

.mentions {
  margin: 2vw;
  width: 56%;
  display: flex;
  justify-content: center;
  height: auto;
  margin-top: -4.3vw;
}
.mentions p {
  font-family: Just Me Again Down Here;
  font-size: 1.9vw;
  font-weight: 400;
  padding-left: 3vw;
}
aside {
  width: 35%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
aside img {
  width: 10%;
  height: 6vw;
}
aside h1 {
  font-family: Jim Nightshade;
  font-size: 2vw;
  font-weight: 400;
  margin-left: 0.3vw;
  position: relative;
  top: 2vw;
}
aside iframe {
  width: 100%;
  height: 28vw;
}
